on: [push, pull_request]
name: Test
jobs:
  test:
    name: Test for ${{ matrix.board }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        board:
          [
            "Legion2:avr:leonardoclp",
            "Legion2:avr:promicro5vclp",
            "Legion2:avr:promicro3vclp",
          ]
    steps:
      - uses: actions/checkout@master
      - name: Build for ${{ matrix.board }}
        uses: ArminJo/arduino-test-compile@master
        with:
          arduino-board-fqbn: ${{ matrix.board }}
          platform-url: https://raw.githubusercontent.com/sparkfun/Arduino_Boards/master/IDE_Board_Manager/package_sparkfun_index.json,https://raw.githubusercontent.com/Legion2/CorsairLightingProtocolBoards/master/package_Legion2_CorsairLightingProtocolBoards_index.json
          arduino-platform: arduino:avr@1.8.2,SparkFun:avr@1.1.5,Legion2:avr@0.1.3
          required-libraries: FastLED@3.2.0
          sketch-names: LightingNodePRO.ino,
            SingleStripLightingNodePRO.ino,
            CommanderPRO.ino,
            DeviceIDTool.ino,
            RepeatAndScale.ino,
            TransformLLFansFormatToStrip.ino,
            LS100.ino,
            LightingNodeCORE.ino,
            NonAddressable.ino,
            AmbientBacklight.ino,
            DebugSketch.ino
          examples-build-properties: '{"DebugSketch": "-DDEBUG -DVERBOSE -DPRINT_COMMAND=true -DPRINT_RESPONSE=true -DPRINT_LOOP=true -DPRINT_UPDATE=true"}'
  testUnoMega:
    name: Test UnoMega sketches for ${{ matrix.board }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        board: ["arduino:avr:uno", "arduino:avr:mega:cpu=atmega2560"]
    steps:
      - uses: actions/checkout@master
      - name: Build for ${{ matrix.board }}
        uses: ArminJo/arduino-test-compile@master
        with:
          arduino-board-fqbn: ${{ matrix.board }}
          arduino-platform: arduino:avr@1.8.2
          required-libraries: FastLED@3.2.0
          sketch-names: HoodLoader2UnoMegaController.ino
  test16u2:
    name: Test 16u2 sketch for ${{ matrix.board }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        board: ["Legion2:avr:HoodLoader2atmega16u2clp"]
    steps:
      - uses: actions/checkout@master
      - name: Build for ${{ matrix.board }}
        uses: ArminJo/arduino-test-compile@master
        with:
          arduino-board-fqbn: ${{ matrix.board }}
          platform-url: https://raw.githubusercontent.com/NicoHood/HoodLoader2/master/package_NicoHood_HoodLoader2_index.json,https://raw.githubusercontent.com/Legion2/CorsairLightingProtocolBoards/master/package_Legion2_CorsairLightingProtocolBoards_index.json
          arduino-platform: arduino:avr@1.8.2,HoodLoader2:avr@2.0.5,Legion2:avr@0.1.3
          required-libraries: FastLED@3.2.0
          sketch-names: HoodLoader2CLPBridge.ino
